<template>
  <img src='https://avataaars.io/?avatarStyle=Circle&topType=WinterHat3&accessoriesType=Kurt&hatColor=Red&facialHairType=BeardLight&facialHairColor=Blonde&clotheType=ShirtCrewNeck&clotheColor=Blue03&eyeType=Close&eyebrowType=FlatNatural&mouthType=Smile&skinColor=Light'
  />
</template>

<script>
export default {
    name: 'MyAvatar'
}
</script>