<template>
  <p class="col-start-2 text-red-400 text-m">• {{ error }}</p>
</template>
<script>
export default {
  name: 'MyError',

  props : {
    error: {
      type: String,
      default: ''
    }
  }
}
</script>
