<template>
  <div class="grid grid-cols-3 gap-3">
    <div class="col-span-1">
      <span class="text-center">{{ type }}</span>
    </div>
    <div class="col-span-2">
      <input
        class="p-2 rounded rounded-lg focus:outline-none border 
                focus:border-green-400"
        :class="[showError]"
        :type="type"
        :value="value"
        :error="error"
        @input="$emit('input', $event.target.value)"/>
    </div>
  <span  v-if="error" class="col-start-2 text-red-400 text-sm"> • {{ error }} </span>
</div>
</template>

<script>
export default {
  name: 'MyInput',

  props: {
    type: {
      type: String,
      default: 'text'
    },
    value: {
      type: String,
      default: ''
    },
    error: {
      type: String,
      default: ''
    }
  },
  
  computed : {
    showError () {
      if (this.error !== '')
        return 'border-red-500'
      else return ''
    }
  }
}
</script>