<template>
    <div class="bg-green-300 justify-center h-screen items-center flex flex-row">
      <div class="bg-white rounded px-8 pt-6 pb-8 mb-4">
        <my-error :error="error.message"></my-error>
        <div v-if="error.message === ''">
          <my-avatar/><br>
          <div class="flex flex-col">
            <div class="flex items-center justify-between">
              <label class="text-gray-500">email</label>
              <label>{{ user.email }}</label>
            </div>
            <div class="flex items-center justify-between">
              <label class="text-gray-500">username</label>
              <label>{{ user.name }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  
<script>
import MyAvatar from '~/components/MyAvatar'
import MyError from '~/components/MyError'
import { getUserInfo } from '~/axioshttp.js'

export default {
  components: {
    MyAvatar,
    MyError
  },

  data () { 
    return {
      user: {email: '', name:''},
      error: {message: ''}
    }
  },

  async beforeMount() {
    const id = Number(this.$route.params.id)
    const token = this.$store.state.token
    const headers = { authorization: `Bearer ${token}` }
    try {
      const { data } = await getUserInfo(id, headers)
      this.user.email = data.email
      this.user.name = data.username
    } catch (err) {
      switch (err.response.status) {
        case 401:
          this.error.message = "401 Unauthorized: " + err.response.data + ". Please try again"
          break
        case 403:
          this.error.message = "403 Forbidden: " + err.response.data + ". Please try again"
          break
        default:
      }
    }
  }
}
</script>