<template>
    <main class="justify-center h-screen items-center flex flex-col
        bg-green-300">
        <h1 class="text-white text-4xl mb-10">Pingr</h1>
        <div class="bg-white rounded px-8 pt-6 pb-8 mb-4">
            <h1 class="text-green-700 text-xl mb-3">Hi, welcome to Pingr!</h1>
            <div class="flex items-center justify-between mt-10">
                <NuxtLink to="/sign-in" class="text-blue-600"> Sign In </NuxtLink>
                <NuxtLink to="/sign-up" class="text-blue-600"> Sign Up </NuxtLink>
            </div>
        </div>
    </main>
</template>
<script>
export default {}
</script>
