<template>
  <form class="justify-center h-screen items-center flex flex-col"
    form @submit.prevent="handleSignin">
    <div class="bg-gray-200 rounded px-8 pt-6 pb-8 mb-4">
      <h1 class="mb-8 text-green-700 text-2xl">Sign In</h1>
      <my-input v-model="form.email" type="email" :error="err.email"/><br>  
      <my-input v-model="form.password" type="password"/><br>
      <div>Not an user yet?
        <NuxtLink class="text-blue-600" to="/sign-up">Sign-up</NuxtLink> now!
      </div><br>
      <div class="flex items-center justify-between">
        <my-button type="reset" name="Clear"></my-button>
        <my-button type="submit" name="Sign In"></my-button>
      </div>
    </div>
  </form>
</template>

<script>
import MyInput from '~/components/MyInput'
import MyButton from '~/components/MyButton'
import { login } from '~/axioshttp.js'

export default {
  components: {
    MyInput,
    MyButton
  },

  data () { 
    return {
      form: {email: '', password:''},
      err: {email: ''}
    }
  },

  methods: {
    async handleSignin () {
      try {
        const res = await login(this.form)
        const { accessToken } = res.data
        this.$store.commit('login', accessToken)
        const id = JSON.parse(atob(accessToken.split('.')[1])).sub
        this.$router.push(`/users/${id}`)
      }
      catch (err) {
        console.log(err)
        switch (err.response.status) {
          case 400:
            this.err.email = "400 Bad Request: " + err.response.data + ". Please try again"
            break
          default:
        }
      }
    }
  }
}
</script>