<template>
  <form class="justify-center h-screen items-center flex flex-col"
    @submit.prevent="handleSignup">
    <div class="bg-gray-200 rounded px-8 pt-6 pb-8 mb-4">
      <h1 class="mb-8 text-green-700 text-2xl">Sign Up</h1>
      <my-input v-model="form.email" type="email" :error="err.email"/><br>
      <my-input v-model="form.password" type="password" :error="err.password"/><br>
      <my-input v-model="form.username" type="username" :error="err.username"/><br>
      <div>Alredy an user?
        <NuxtLink class="text-blue-600" to="/sign-in">Sign-in</NuxtLink> now!
      </div><br>
      <div class="flex items-center justify-between">
        <my-button type="reset" name="Clear"></my-button>
        <my-button type="submit" name="Sign Up"></my-button>
      </div>
    </div>
  </form>
</template>

<script>
import MyInput from '~/components/MyInput'
import MyButton from '~/components/MyButton'
import { register } from '~/axioshttp.js'

export default {
  components: {
    MyInput,
    MyButton
  },

  data () { 
    return {
      form: {email: '', password:'', username: ''},
      err: {email: '', password: '', username: ''}
    }
  },

  methods: {
    async handleSignup () {
      if (!this.validateEmail(this.form.email))
        return
      else if (!this.validatePassword(this.form.password))
        return
      else if (!this.validateUsername(this.form.username))
        return

      try {
        const res = await register(this.form)
        const { accessToken } = res.data
        this.$store.commit('login', accessToken)
        const id = JSON.parse(atob(accessToken.split('.')[1])).sub
        this.$router.push(`/users/${id}`)
      }
      catch (err) {
        switch (err.response.status) {
          case 400:
              this.err.email = "400 Bad Request: " + err.response.data + ". Please try again"
            break
          default:
        }
      }
    },
    validateEmail(email) {
      const regExpr = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      if (!regExpr.test(email)) {
        this.err.email = 'Please input a valid email.'
        return false
      }
      return true
    },
    validatePassword(pwd) {
      if (pwd.length < 8 || pwd.length > 32) {
        this.err.password = 'The password should contain between 8 and 32 characters.'
        return false
      }
      return true
    },
    validateUsername(username) {
      const regExpr = /^[a-z0-9]+$/;
      if (!regExpr.test(username) || (/^\d+$/.test(name.charAt(0)))) {
        this.err.username = "Only alphanumerics characters and first character can't be a number."
        return false
      }
      return true
    }
  }
}
</script>